{% extends "base.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block title %}Chatbot{% endblock %}

{% block content %}
{% include "header.html" %}
<div class="wrapper">
    <div class="container">
     <form action="" method="post">
         <input type="text" name="query" required><br>
         <button type="submit" class="btn">Chat</button>
     </form>
        <div class="chatbox">
{% if bot: %}
            <div class="user_txt">
            <p>{{user_txt}}</p>
        </div>
            {{delay}}
    <div class="chatbot_response">
        {{response}}
    </div>
        </div>
{% endif %}
    </div>
</div>
{% include "footer.html" %}
{% endblock %}
